# .gitignore

# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore the database file for SQLite
*.db
*.sqlite3

# Ignore log files
*.log

# Ignore the build directory
build/
dist/
api/v1/__pycache__/fasilitas_layanan_kesehatan.cpython-312.pyc
